<header class="navbar navbar-expand-md navbar-light d-print-none">
  <div class="container-xl">
    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <a href="/">MyCircle</a>
    </h1>
    <div class="navbar-nav flex-row order-md-last ">
      <div class="nav-item d-none d-md-flex me-3">
        <div class="btn-list reported">
          <div>
            <li class="nav-item dropdown">
              <label for="sorting">Search post BY:</label>
              <input type="text" name="search" id="search" class="search" placeholder="Search BY title or Description">
            </li>
          </div>
          <li class="nav-item dropdown">
            <label for="sorting">Sort post BY:</label>
            <select class="sort">
              <option value="date">date and time</option>
              <option value="title">title</option>
            </select>
          </li>
          <li class="nav-item dropdown">
            <label for="sorting">Sort post Order BY:</label>
            <select class="sortOrder">
              <option value="">DESCENDING</option>
              <option value="1">ASCENDING</option>
            </select>
          </li>
        </div>
      </div>
      {{#if user}}

      {{> notification}}

      {{/if}}

      <div class="nav-item dropdown" id="user-details">
        {{#if user}}
        <a href="javascript:void(0);" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
          aria-label="Open user menu">
          <span class="avatar avatar-sm">
            {{#if user.profile}}
            <img src="/images/user_images/{{user.profile}}" style="height:32px; width:32px;" />
            {{else}}
            <img src="/images/default_user.jpg" style="height:32px; width:32px;" />
            {{/if}}
          </span>
          <div class="d-none d-xl-block ps-2">
            <div>{{user.fullName}}</div>
            <div>{{user.email}}</div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a href="javascript:void(0);" class="dropdown-item" id="view">View Profile</a>
          <a href="javascript:void(0);" class="dropdown-item" id="edit">Edit Profile</a>
          <a href="/logout" class="dropdown-item" id="logout">Logout</a>

        </div>
        {{else}}
        <div class="button">
          <a href="/login">Login </a>
        </div>
        <div class="button">
          <a href="/registration">Registration</a>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{> users/edit}}
</header>